.content {
  grid-area: c;

}

.item {
color: white;
}

.posts {
  color: black;
  padding: 10px ;
  margin-top: 10px;
}

.image img {
  width: 500px;

}

.myPost {
  background-color: darkslategray;
  padding: 10px;
}

.postText {
border-radius: 15px 15px 15px 15px;
}