.main {
    word-spacing: inherit;
    background-color: #292e3f;
    border-radius: 15px;
}

.h {
    padding: 10px;
    font-family: "Bell MT";
    position: relative;
    left: 40px;
    bottom: 10px;
}