.nav {
  grid-area: n;
  background-color: dimgray;
  padding: 20px;
  height: 100vh;
}

.item a {
  color: white;
}

.item a.active {
  color: black;

}

.item {
  padding: 10px;
  padding-left: 35px;
  font-size: inherit;
  font-family: "Book Antiqua";
}