.nav {
  grid-area: n;
  background-color: #292e3f;
  padding: 20px;
  height: 50vh;
  border-radius: 15px;
}

.item a {
  color: white;
}

.item a.active {
  color: black;

}

.item {
  color: burlywood;
  padding-left: 35px;
  font-family: "Bell MT";

}
